<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
<head>
<title>TODO | Tasks</title>
<link rel="stylesheet" type="text/css"
    th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

</head>
<body>
    <div class="col-6 offset-2">
        <h1>List of all tasks</h1>
        <div th:if="${items.empty}">Hooray, there is nothing to do left!</div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Status</td>
                    <td>Created</td>
                    <td>Due date</td>
                </tr>
            </thead>
            <tbody>

                <tr th:each="item : ${items}">
                    <td th:text="${item.title}">short description</td>
                    <td th:text="${item.description}">full
                        description</td>
                    <td th:text="${item.status.value}">full
                        description</td>
                    <td th:text="${#calendars.format(item.createdDate)}">July
                        11, 2012 2:17:16 PM CDT</td>
                    <td th:text="${#calendars.format(item.dueDate)}">July
                        11, 2012 2:17:16 PM CDT</td>
                </tr>
            </tbody>
        </table>
        <div class="align-right">
            <a href="#" th:href="@{'/items/new'}"
                class="btn btn-primary">Create new task</a>
        </div>
    </div>
</body>
</html>
