<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Todo items</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Due date</td>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${items.empty}">
                    <td colspan="3">Hoorah, nothing to do!</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
